@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "SUITE-Regular";
}

.contentTitle {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.babyinfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.babyInput {
    margin-bottom: 20px;
}

.babyTitle {
    margin-bottom: 21px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.babyNameInput {
    margin-bottom: 15px;
    width: 446px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 16px;
    font-weight: 300;
    color: #666662;
    padding-top: 10px;
    padding-left: 10px;
}

input:focus {
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
}

input::placeholder {
    color: #666662;
    font-size: 16px;
    font-weight: 300;
}

.babyBirth input {
    text-align: center;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 16px;
    font-weight: 300;
    color: #666662;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.babyBirthBox {
    margin-left: 63px;
}

.babyBirth label {
    font-size: 16px;
    font-weight: 300;
    color: #666662;
    margin-right: 56px;
}

.babyBirthYear {
    margin-left: 10px;
    width: 112px;
}

.babyBirthMonth {
    width: 60px;
}

.babyGender {
    margin-left: 25px;
}

.babyGender input {
    margin-left: 8px;
    margin-top: 10px;
    width: 21px;
    height: 17px;
}

.babyBodyBox {
    width: 460px;
}

.babyGenderBox {
    text-align: left;
    width: 460px;
}

.babyGender label {
    margin-right: 87px;
}

.babyBody .bodyLabel {
    margin-right: 13px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.babyBody {
    margin-left: 25px;
    text-align: left;
}

.babyBody input {
    width: 45px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    font-size: 16px;
    font-weight: 300;
    color: #666662;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 5px;
    text-align: center;
}

.babyBody input + label {
    margin-left: 16px;
    color: #666662;
}

.bodyLabelCm {
    margin-right: 87px;
}

#body-input {
    color: #666662;
    font-size: 16px;
    font-weight: 300;
}

.btnBox {
    width: 468px;
    margin-top: 15px;
}

.btn {
    width: 200px;
    height: 43px;
    font-size: 20px;
    border-radius: 10px;
}

.edit {
    margin-right: 40px;
    background-color: #fff4d6;
    border: none;
}

.cancle {
    background-color: #ffffff;
    border: 1px solid #a6a6a6;
}
#radio[type="radio"]:checked + label::before {
    background-color: black;
}
