@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "SUITE-Regular";
}
.contentTitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 35px;
    margin-left: 35px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.babyInfoContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.babyInput {
    margin-bottom: 20px;
}

.babyTitle {
    margin-left: 10px;
    margin-bottom: 21px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.babyNameInput {
    margin-left: 15px;
    margin-right: 40px;
    padding-left: 10px;
    width: 425px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color: #666662;
}

input:focus {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
}

.babyNameInput::placeholder {
    color: #a6a6a6;
}

.babyBirth {
    text-align: center;
    border: none;

    font-weight: 300;
    color: #666662;
}
.babyBirth input::placeholder {
    text-align: center;
    font-size: 16px;
    color: #a6a6a6;
    font-weight: 300;
}

.babyBirth label {
    font-size: 16px;
    font-weight: 300;
    color: #666662;
    margin-right: 70px;
}

.babyBirthYear {
    color: #666662;
    text-align: center;
    margin-left: 15px;
    height: 30px;
    border-bottom: 1px solid #d9d9d9;
    width: 112px;
}

.babyBirthMonth {
    color: #666662;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid #d9d9d9;
    width: 60px;
}

.babyGender {
    margin-left: 15px;
}

.babyGender input {
    margin-left: 8px;
    margin-top: 10px;
    width: 21px;
    height: 17px;
}

.babyBodyBox {
    width: 460px;
}

.babyGenderBox {
    text-align: left;
    width: 460px;
}

.babyGender label {
    margin-right: 130px;
}

.baby-body .body-label {
    margin-right: 13px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.babyBody {
    margin-left: 25px;
    text-align: left;
}

.babyBody input {
    margin-left: 10px;
    margin-right: 5px;
    text-align: center;
    width: 45px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
    font-weight: 300;
    color: #666662;
}

.babyBody input + label {
    margin-left: 16px;
    color: #666662;
}
.bodyLabel {
    color: #000000;
}
.bodyLabelCm {
    margin-right: 80px;
}

#bodyInput {
    color: #666662;
    font-size: 16px;
    font-weight: 300;
}

.btnBox {
    text-align: center;
    width: 468px;
    margin-top: 15px;
}

.btn {
    width: 200px;
    height: 43px;
    font-size: 20px;
    border-radius: 10px;
}

#edit {
    margin-right: 40px;
    background-color: #fff4d6;
    border: none;
}

#cancel {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
}
#radio[type="radio"]:checked + label::before {
    background-color: black;
}
.menuIcondiv {
    width: 100%;
    text-align: right;
}
.menuIcon {
    width: 24px;
    height: 24px;
}
