.headerWrapper {
    width: 100%;
    top: 0;
    z-index: 998;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}

.headerContainer {
    width: 100%;
    max-width: 2000px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-left: 40px;
    font-weight: 400;
    font-size: 40px;
    color: #666662;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menuItem {
    margin-right: 48px;
    font-size: 20px;
    color: #666662;
    display: inline-block;
    text-decoration: none;
}

.menuImg {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-decoration: none;
    margin-right: 24px;
    margin-top: 2px;
}

.headerSpacer {
    height: 80px; /* 페이지 컨텐츠가 Header2와 겹치지 않도록 높이를 설정합니다. */
}

@media (max-width: 768px) {
    .logo {
        font-size: 30px;
    }

    .menuItem,
    .menuItem2 {
        font-size: 18px;
        margin-right: 10px;
    }
}
