.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
}

.headerContainer {
    width: 100%;
    max-width: 1805px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s;
    z-index: 998; /* Ensure header is below the overlay */
}

.logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #666662;
}

.menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menuItem {
    margin-right: 67px;
    font-size: 20px;
    color: #666662;
    display: inline-block;
    text-decoration: none;
}

.menuItem2 {
    margin-right: 20px;
    font-size: 20px;
    color: #666662;
    display: inline-block;
    text-decoration: none;
}
