.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
}

.headerWrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 998; /* Ensure header is below the overlay */
    background-color: inherit; /* Inherit background color from parent */
}

.headerContainer {
    width: 100%;
    max-width: 2000px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #666662;
}

.menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menuItem {
    margin-right: 67px;
    font-size: 20px;
    color: #666662;
    display: inline-block;
    text-decoration: none;
}

.menuItem2 {
    margin-right: 20px;
    font-size: 20px;
    color: #666662;
    display: inline-block;
    text-decoration: none;
}

.headerSpacer {
    height: 80px;
}

@media (max-width: 768px) {
    .logo {
        font-size: 30px; /* 작은 화면에서 로고 크기 조정 */
    }

    .menuItem,
    .menuItem2 {
        font-size: 18px; /* 작은 화면에서 메뉴 아이템 크기 조정 */
        margin-right: 10px; /* 작은 화면에서 메뉴 아이템 간격 조정 */
    }
}
