@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

#header-container {
    height: 80px;
    background-color: #fff4d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #666662;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

#menu-item {
    margin-right: 67px;
    font-size: 20px;
    color: #666662;
    display: inline-block;
    text-decoration: none;
}

#menu-item2 {
    margin-right: 20px;
    font-size: 20px;
    color: #666662;
    display: inline-block;
    text-decoration: none;
}
