.contentTitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 35px;
    margin-left: 35px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.totalLikedPosts {
    height: 20px;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    width: 706px;
    justify-content: space-between;
    color: #8e857f;
}

.a {
    text-decoration: none;
}
.community {
    height: 430px;
    width: 706px;
    margin: auto;
}
.listContents {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #d9d9d9 solid;
    margin-bottom: 5px;
}

.left_top {
    display: flex;
    margin-bottom: 5px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}
.username {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 2px;
}

.date {
    font-size: 12px;
    color: #a6a6a6;
    font-weight: 500;
}

.board_title {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
}

.right {
    display: flex;
}

.like_count {
    color: black;
    font-size: 11px;
    margin-top: 60px;
}

.thumbnail {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
}
.noPostsMessage {
    font-size: 16px;
    color: #666662;
}
.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination span {
    margin-right: 23px;
}
