@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1000;
}

.loginWrap {
    width: 1000px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;

    display: flex;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.leftTxt {
    text-align: right;
    animation: slideDown 1s ease-out;
    font-size: 20px;
    color: #666662;
    font-weight: 300;
    margin-left: 40px;
    margin-top: 450px;
    padding-top: 30px;
    margin-right: 40px;
}
.left {
    width: 50%;
    height: 100%;
    background-color: #fff4d6;
    border-radius: 20px 0 0 20px;
}

.logo {
    font-size: 40px;
    color: #666662;
    font-weight: 900;
    margin-left: 40px;
    padding-top: 30px;
}

.right {
    align-items: center;
    justify-content: center;
}

.XBtn {
    margin-left: 449px;
    margin-top: 30px;
}

.loginForm {
    width: 400px;
    height: 351px;
    margin-left: 50px;
    margin-top: 98px;
}

.loginTitle {
    font-size: 40px;
    font-weight: 800;
    color: #666662;
}

input {
    width: 400px;
    height: 56px;
    border: none;
    border-bottom: 1px solid #d9d9d9;

    outline: none;
    font-size: 16px;
}

.id,
.pw {
    margin-top: 32px;
}

input::placeholder {
    color: #a6a6a6;
}

.loginBtn {
    width: 400px;
    height: 56px;

    margin-top: 40px;
    background-color: #fff4d6;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
}

.moveRegister {
    color: #a6a6a6;
    font-size: 11px;
    font-weight: 100;
    text-align: right;
    margin-top: 15px;
}
