@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: "SUITE-Regular";
}

#mainSection {
    height: 720px;
    background-color: #fff4d6;
}

.textContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #666662;
}

.mainImg {
    margin-top: 20px;
    width: 553px;
    height: 553px;
}

.mainText {
    font-size: 40px;
    font-weight: 900;
}

.smallText {
    font-size: 16px;
    font-weight: 200;
}

.mainSub {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
}

#connectText {
    margin-top: 20px;
    text-align: center;
}

.connectText {
    color: #666662;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

#proudctSection {
    padding: 20px;
    height: 700px;
    text-align: center;
}

.subText {
    color: #666662;
    margin: 50px;
    font-size: 20px;
    font-weight: 500;
}

.productContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}
.productItem {
    margin: 0 10px;
    display: flex;
}

.productItem img {
    width: 125px;
    height: 123px;
    margin-right: 10px;
}

.productItem .productDescription {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬하기 위해 column으로 설정 */
    margin-left: 10px;
    margin-top: 30px;
}

.productItem .productTitle,
.productItem .productDep {
    white-space: nowrap;
    text-align: left; /* 텍스트를 왼쪽으로 정렬합니다. */
}

.productItem .productDep {
    margin-top: 5px;
}

.product-container {
    display: flex;
    justify-content: center; /* 내부 요소들을 수평으로 가운데 정렬하기 위한 flexbox의 justify-content 속성 설정 */
}
#productContainer {
    margin-top: 110px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center; /* 내부 요소들을 수평으로 가운데 정렬하기 위한 flexbox의 justify-content 속성 설정 */
}

#productContainer img {
    margin-right: 30px;
    width: 360px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product2Dep {
    text-align: center; /* 부모 요소를 수평 가운데 정렬 */
    background-color: #fff4d6; /* 배경색 지정 */
    width: 360px; /* 너비 지정 */
    height: 300px; /* 높이 지정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.productTxt,
.productTxt2 {
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin-top: 25px;
    font-weight: 900;
    color: #666662;
}

.productTxt {
    font-size: 30px;
}

.productTxt2 {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 500;
}

#main3Section {
    padding-top: 150px;
    height: 510px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bodyImg img {
    margin-right: 50px;
    width: 118px;
    height: 111px;
}

.bodyInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bodyDepContainer {
    margin-top: 25px;
}
#bodyInputContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 위쪽 여백 추가 */
}
.bodyInputBox {
    margin-left: 50px;
}
#bodyInputContainer div {
    margin-right: 99px; /* input 사이의 간격 */
}

.bodyInput[type="text"] {
    width: 45px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none; /* 포커스시 생기는 외곽선 제거 */
    padding: 0 5px; /* 내용과 테두리 사이 여백 */
}
.bodyBtn {
    margin-right: 45px;
}
.bodyBtn button {
    width: 165px;
    height: 45px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #666662;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
}

.depTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 00;
}

.depSub2 {
    margin-top: 17px;
    font-size: 16px;
    margin-left: 3px;
    color: #666662;
}

.depContainer {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    color: #9c9c9c;
    line-height: 23px;
}
.depContainer div {
    color: black;
}
#main4Section {
    height: 596px;
    text-align: center;
}
#main4Section img {
    width: 100px;
    height: 100px;
}

.main4Title {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 600; /*bold는 700 Light 300 Regular 400 semi Bold 600 Heavy 900 */
    color: #666662;
}

.main4Sub {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    color: #666662;
}
.main4Sub2 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #666662;
}
