@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: "SUITE-Regular";
}

#mainSection {
    height: 800px;
    background-color: #fff4d6;
}

.textContent {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #666662;
}
.textContainer {
    margin-top: 40px;
}
.mainImg {
    margin-top: 80px;
    width: 550px;
    height: 550px;
}

.mainText {
    font-size: 40px;
    font-weight: 900;
}

.smallText {
    font-size: 16px;
    font-weight: 200;
}

.mainSub {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
}

#connectText {
    text-align: center;
}
#connectText img {
    mask-image: linear-gradient(to top right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.connectText {
    margin-top: 30px;
    color: #666662;
    font-size: 40px;
    font-weight: 400;
}
/* mainSection2 */
#mainSection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.textContainer {
    text-align: left;
}

.angelGuardTitle {
    margin-top: 50px;
    margin-right: 950px;
    font-weight: 300;
    font-size: 40px;
}
.bold800 {
    margin: 0;
    font-weight: 800;
}
.angelDescription {
    margin-bottom: 100px;
    color: #666662;
    font-weight: 300;
    font-size: 23px;
    margin-top: 15px;
}

.photosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.photoBox {
    text-align: center;
    margin-bottom: 20px;
}

.photoBox img {
    width: 130px;
    height: 130px;
}

.photoTitle {
    font-size: 30px;
    font-weight: 800;
    margin-top: 100px;
}

.photoDescription {
    font-size: 23px;
    font-weight: 300;
    color: #666662;
    margin-top: 20px;
    text-align: center;
}
/*AppSection*/
.AppSection {
    height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AppContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppImg {
    margin-right: 150px;
}

.AppDep {
    font-size: 30px;
    font-weight: 300;
}
.AppDep div {
    margin-bottom: 70px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.AppDep > div:nth-child(1) {
    animation: slideIn 0.5s ease-in-out 0s forwards;
}

.AppDep > div:nth-child(2) {
    animation: slideIn 0.5s ease-in-out 0.2s forwards;
}

.AppDep > div:nth-child(3) {
    animation: slideIn 0.5s ease-in-out 0.4s forwards;
}

/*메인섹션3 */
@keyframes slideAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-250px * 12));
    }
}

#mainSection3 {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffcf3;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.leftContainer {
    margin-top: 150px;
    margin-bottom: 400px;
    text-align: left;
    margin-right: 100px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    animation: slideAnimation 40s linear infinite;
}
.rightContainer img {
    margin-top: 50px;
}
.slider img {
    width: 550px;
    height: 210px;
}

.main3Title,
.main3Title2,
.main3dep {
    margin-bottom: 10px;
}

.main3Title {
    font-size: 40px;
    font-weight: 300;
}

.main3Title2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
}

.main3dep {
    font-size: 20px;
    color: #666662;
}

/* bodySection */
#bodySection {
    height: 500px;
    justify-content: center;
}
.bodyAllContnet {
    margin-top: 90px;
}
.bodyContent {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#bodyInputContainer div {
    margin-right: 99px;
}
.bodyTitle {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}
.bodyImg img {
    margin-right: 50px;
    width: 118px;
    height: 111px;
}
.resultMessage {
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}
.bodyInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bodyDepContainer {
    margin-top: 10px;
}
#bodyInputContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.bodyInputBox {
    margin-left: 60px;
}

.bodyInput[type="text"] {
    height: 30px;
    width: 45px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    padding: 0 5px;
}
.bodyBtn {
    margin-right: 45px;
}
.bodyBtn button {
    width: 165px;
    height: 45px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #666662;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
}

.depTitle {
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
    font-size: 40px;
    font-weight: 400;
}

.depSub2 {
    font-weight: 300;
    margin-top: 18px;
    font-size: 20px;
    margin-left: 10px;
    color: #9c9c9c;
}

.depContainer {
    font-size: 20px;
    margin-left: 15px;
    text-align: left;
    color: #9c9c9c;
    line-height: 23px;
    margin-top: 10px;
}
.depContainer2 {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
    text-align: left;
    color: #9c9c9c;
    line-height: 23px;
    margin-top: 30px;
}
.depContainer div {
    color: black;
}
.link {
    color: #666662;
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}
