@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "SUITE-Regular";
}
.profileImageContainer {
    position: relative;
    display: inline-block;
}

.profileImage {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.cameraIcon {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.fileInput {
    display: none;
}

#mypage-container {
    margin-top: 15px;
    margin-bottom: 69px;
    margin-left: 88px;
    margin-right: 88px;
}

#mypage-title {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    color: #666662;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 875px;
}

#container {
    display: flex;
    justify-content: center;
}

#content {
    position: relative;
    width: 782px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.contentTitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 35px;
    margin-left: 35px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.myInfo {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputTitle {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.input {
    margin-bottom: 15px;
    width: 416px;
    height: 29.5px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    padding-left: 10px;
}

.input:focus {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
}

.input::placeholder {
    color: #a6a6a6;
}
.input {
    color: #a6a6a6;
}
.btnBox {
    width: 436px;
    margin-top: 10px;
}

.btn {
    width: 200px;
    height: 43px;
    font-size: 20px;
    border-radius: 10px;
}

.edit {
    margin-right: 36px;
    background-color: #fff4d6;
    border: none;
}

.cancel {
    background-color: #ffffff;
    border: 1px solid #a6a6a6;
}

.myInfoName {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 400;
}
