@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "SUITE-Regular";
}

#mypage-container {
    margin-top: 15px;
    margin-bottom: 69px;
    margin-left: 88px;
    margin-right: 88px;
}

#mypage-title {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    color: #666662;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 875px;
}
#container {
    display: flex;
    justify-content: center;
}

#content {
    text-align: center;
    position: relative;
    width: 782px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
/*다른 곳에서 content-title 바꿔야할수도?*/
.content-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 22px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}
.post-info {
    display: flex;
    justify-content: space-between;
}

.total-posts {
    margin-right: 630px;
    color: #666662; /* 변경 */
}

.write-btn {
    padding: 2px;
    width: 94px;
    height: 27px;
    margin-left: 610px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff4d6;
    color: #666662;
    border: none;
    margin-bottom: 16px;
}

.post-list {
    width: 706px;
    height: 376px;
}

.post-header {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #666662;
    border-bottom: 1px solid #666662;
}

.post-header .post-no {
    width: 70px; /* 번호의 폭 */
}

.post-header .post-title {
    width: 250px; /* 제목의 폭 */
}

.post-header .post-date {
    width: 134px; /* 날짜의 폭 */
}

.post-header .post-likes,
.post-header .post-author {
    width: 66px; /* 좋아요, 작성자의 폭 */
}

.post-header span {
    flex: none; /* 자식 요소의 크기를 자동으로 조정하지 않도록 설정 */
}

.post-item {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

.post-item .post-no {
    width: 70px; /* 번호의 폭 */
}

.post-item .post-title {
    width: 250px; /* 제목의 폭 */
}

.post-item .post-date {
    width: 134px; /* 날짜의 폭 */
}

.post-item .post-likes,
.post-item .post-author {
    width: 66px; /* 좋아요, 작성자의 폭 */
}

.post-item span {
    flex: none; /* 자식 요소의 크기를 자동으로 조정하지 않도록 설정 */
}

.pagination {
    text-align: center;
    margin-top: 40px;
}

.pagination span {
    margin-right: 23px;
}
