/* MyPost.module.css */

@font-face {
    font-family: "SUITE-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

.contentTitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 35px;
    margin-left: 35px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.totalPosts {
    margin-top: 14px;
    font-size: 15px;
    width: 706px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: #8e857f;
}

.writeBtn {
    padding: 2px;
    width: 94px;
    height: 27px;
    margin-left: 610px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff4d6;
    color: #666662;
    border: none;
    margin-bottom: 16px;
}

.postList {
    margin-top: 10px;
    width: 706px;
    height: 376px;
}

.postHeader {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #666662;
    border-bottom: 1px solid #666662;
}

.postHeader .postNo {
    width: 70px; /* 번호의 폭 */
}

.postHeader .postTitle {
    width: 250px; /* 제목의 폭 */
}

.postHeader .postDate {
    width: 134px; /* 날짜의 폭 */
}

.postHeader .postLikes,
.postHeader .postAuthor {
    width: 66px; /* 좋아요, 작성자의 폭 */
}

.postHeader span {
    font-size: 16px;
    flex: none; /* 자식 요소의 크기를 자동으로 조정하지 않도록 설정 */
}

.postItem {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

.postItem .postNo {
    width: 70px; /* 번호의 폭 */
}

.postItem .postTitle {
    width: 250px; /* 제목의 폭 */
}

.postItem .postDate {
    width: 134px; /* 날짜의 폭 */
}

.postItem .postLikes,
.postItem .postAuthor {
    width: 66px; /* 좋아요, 작성자의 폭 */
}
.postItem .postDate,
.postItem .postLikes,
.postItem .postAuthor {
    color: #a6a6a6;
}
.postItem span {
    font-size: 14px;
    flex: none; /* 자식 요소의 크기를 자동으로 조정하지 않도록 설정 */
}

.pagination {
    text-align: center;
    margin-top: 40px;
}

.pagination span {
    margin-right: 23px;
}
