.ck.ck-editor__editable {
  min-height: 35rem !important;
  max-height: 35rem !important;
  max-width: 1055px !important;
  padding: 0px !important;
  margin: auto !important;
}

.ck.ck-editor__top {
  max-width: 1055px !important;
  margin: auto !important;
}
